$active-color: #bd4b4b;
$bg-color: #303030;

.items-list {
  padding: 1em 2em;
  font-weight: 500;
  background-color: $bg-color;
  //box-shadow: $bg-color 4px 4px 8px, $bg-color 4px 4px 8px ;

  .display {
    font-size: 1.4em;
    margin: 1em 0.6em;

    &::after {
      content: " ~/";
      color: $active-color;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      width: 50%;
    }
  }

  a {
    color: currentColor;
    text-decoration: none;
    margin: 0.2em;

    &:hover {
      text-decoration: line-through 1px $active-color;
    }

    &::before {
      content: "~/";
      font-weight: bold;
      color: $active-color;
    }
  }
}
